<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anemia_Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    
</head>
<body>
    <div class="container h-100 m-5">
    <div class="row h-100 justify-content-center align-items-center">
        <form action = "/askAnemia" method = "post">
        
    <div>
        <label>Are you experiencing irregular heartbeat?</label>
        <div>
        <input type = "radio" name = "irregular_heartbeat" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "irregular_heartbeat" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you feeling weak?</label>
        <div>
        <input type = "radio" name = "weakness" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "weakness" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Has your skin turned pale or yellowish?</label>
        <div>
        <input type = "radio" name = "pale_skin" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "pale_skin" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you having dizziness or light headedness?</label>
        <div>
        <input type = "radio" name = "lightheadedness" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "lightheadedness" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you having cold hands and feet?</label>
        <div>
        <input type = "radio" name = "cold_hands_feet" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "cold_hands_feet" value="no">
        <label>No</label>
    </div>
    
    
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>
    </div>
    </div>

</body> 
</html>
