<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAD_Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>
<body>
    <div class="container h-100 m-5">
    <div class="row h-100 justify-content-center align-items-center">
        <form action = "/askCAD" method = "post">
        
    <div>
        <label>Did you have feeling of heaviness or tightness, usually in the centre of the chest, which may spread to the arms, neck, jaw, back or stomach?</label>
        <div>
        <input type = "radio" name = "heaviness" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "heaviness" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you sweating frequently?</label>
        <div>
        <input type = "radio" name = "sweating" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "sweating" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you feeling dizzy??</label>
        <div>
        <input type = "radio" name = "dizziness" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "dizziness" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Do you feel burning sensation near heart?</label>
        <div>
        <input type = "radio" name = "burning" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "burning" value="no">
        <label>No</label>
    </div>
   
    
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>
    </div>
    </div>

</body> 
</html>
