<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulcer_Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
   
</head>
<body>
    <div class="container h-100 m-5">
    <div class="row h-100 justify-content-center align-items-center">
        <form action = "/askGastritisRes" method = "post">
        
    <div>
        <label>Are you having a feeling of vomiting(Nausea)?</label>
        <div>
        <input type = "radio" name = "nausea" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "nausea" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you having a feeling of fullness in your upper abdomen?</label>
        <div>
        <input type = "radio" name = "fullness" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "fullness" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you feeling bloating in your abdomen?</label>
        <div>
        <input type = "radio" name = "bloating" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "bloating" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you having pain near abdomen?</label>
        <div>
        <input type = "radio" name = "abdominal_pain" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "abdominal_pain" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you facing problems of indigestion?</label>
        <div>
        <input type = "radio" name = "indigestion" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "indigestion" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you experiencing gnawing or burning ache or pain in your upper abdomen that may become either worse or better with eating?</label>
        <div>
        <input type = "radio" name = "gnawing" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "gnawing" value="no">
        <label>No</label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>
    </div>
    </div>


</body> 
</html>