<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obesity_Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    
</head>
<body>
    <div class="container h-100 m-5">
    <div class="row h-100 justify-content-center align-items-center">
        <form action = "/askObesity" method = "post">
        
    <div>
        <label>Are you sweating more than normal?</label>
        <div>
        <input type = "radio" name = "sweating" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "sweating" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Did you develop a habit of snoring?</label>
        <div>
        <input type = "radio" name = "snoring" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "snoring" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you having cough frequently?</label>
        <div>
        <input type = "radio" name = "cough" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "cough" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you not able to cope up with sudden physical activity?</label>
        <div>
        <input type = "radio" name = "sudden_physical" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "sudden_physical" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you feeling tired every day without doing much work?</label>
        <div>
        <input type = "radio" name = "tired" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "tired" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you feeling isolated?</label>
        <div>
        <input type = "radio" name = "isolated" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "isolated" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you having low confidence and self esteem in day to day activities?</label>
        <div>
        <input type = "radio" name = "confidence" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "confidence" value="no">
        <label>No</label>
    </div>
    
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>
    </div>
    </div>

</body> 
</html>
