<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortBreath_Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>
<body>
    <div class="container h-100 m-5">
    <div class="row h-100 justify-content-center align-items-center">
        <form action = "/askShortBreath" method = "post">
        
    <div>
        <label>Are you having back and joint pain?</label>
        <div>
        <input type = "radio" name = "back_joint_pain" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "back_joint_pain" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you having chest pain?</label>
        <div>
        <input type = "radio" name = "chest_pain" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "chest_pain" value="no">
        <label>No</label>
    </div>
    </div>
    <div>
        <label>Are you having cough frequently?</label>
        <div>
        <input type = "radio" name = "cough" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "cough" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you feeling fatigue?</label>
        <div>
        <input type = "radio" name = "fatigue" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "fatigue" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you having headache?</label>
        <div>
        <input type = "radio" name = "headache" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "headache" value="no">
        <label>No</label>
    </div>
    <div>
        <label>Are you having pain in arms and shoulders?</label>
        <div>
        <input type = "radio" name = "pain_arms" value="yes">
        <label>Yes</label>
        <input type = "radio" name = "pain_arms" value="no">
        <label>No</label>
    </div>
    
    <div>
        <button type="submit">Submit</button>
    </div>
    </form>
    </div>
    </div>

</body> 
</html>
